:root {
  --bcolor: #ffffff;
  --fcolor: #000;
  --navbcolor: #252525;
  --navfcolor: #fff;
  --btnborcolor: #fff;
  --mainbtncolor: #252525;
  --mainbtnfcolor: #fff;
  --svg-collor: invert(0%) sepia(8%) saturate(7500%) hue-rotate(154deg)
    brightness(0%) contrast(102%);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  text-align: center;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--fcolor);
  background-color: var(--bcolor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[theme='dark'] {
  --bcolor: #252525;
  --fcolor: #fff;
  --btnbcolor: #fff;
  --btnfcolor: #000;
  --btnborcolor: #252525;
  --mainbtncolor: #fff;
  --mainbtnfcolor: #000;
  --svg-collor: none;
}

.app {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  flex: 1;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  height: 100%;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--btnbcolor);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--btnborcolor);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.filter-color {
  filter: var(--svg-collor);
}
